.popup-wrapper{
    width: 348px;
    height: 270px;
    overflow: hidden;
    margin: 0;
    background-color: #27645b;
}

.inner-wrapper{
    width: 200px;
    margin: auto;
}

.attach{
    border-radius: 20px;
    color: black;
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
    border-style: none;
}

.organise{
    border-radius: 20px;
    background-color: black;
    color: black;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.search-placeholder{
    border-radius: 10px;
    background-color: turquoise;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 189px;
} 


.placeholder{
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    width: 144px;
    margin-bottom: 10px;
}

.zoom {
    padding: 5px;
    background-color: turquoise;
    transition: transform .2s; /* Animation */
    display: block;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5)
} 