.popup-wrapper{
    width: 348px;
    height: 200px;
    overflow: hidden;
    margin: 0;
}

.attach{
    border-radius: 20px;
    color: black;
    font-size: 27px; 
    font-weight: bold;
    position: absolute;
    /* right: 350px;
    top: 12px; */
    cursor: pointer;
    border-style: none;
}

.organise{
    border-radius: 20px;
    background-color: black;
    color: black;
    font-size: 27px;
    font-weight: bold;
    position: absolute;
    right: 181px;
    text-align: center;
    width: 200px;
    top: 148px;
    cursor: pointer;
}

.search-placeholder{
    border-radius: 10px;
    background-color: turquoise;
    color: black;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    right: 80px;
    top: 12px;
    cursor: pointer;
    border-style: none;
}

/* .form{ 
    display: block;
    margin-top: 0em;
    float: right;
} */

/* ::placeholder{
    color: blue;
    font-size: 1.5em;
    float: right;
} */

.zoom {
    padding: 5px;
    background-color: turquoise;
    transition: transform .2s; /* Animation */
    /* width: 0.5px;
    height: 0.5px; */
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.5)
} 